/*----------------  Reboot   ----------------*/
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--text-black);
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
}

/*----------------  Color variables   ----------------*/
:root {
    --header-footer-color: #7faff6;
    --header-btn-color: #a5c7f9;
    --text-white: #fff;
    --text-black: #000;
    --modal-background-color: #fff;
    --transition: all 0.3s ease;
    --overlay-background-color: #000;
    --hover-filter: grayscale(0.2);
    --bg: #c0dbd9;
    --section1-bg: #b3f95a;
    --section1-block-bg: #8ad191;
    --section2-bg: #88B5BF;
    --section2-block-bg: #0D89B0;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
    background-color: var(--bg);
}

.main {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/*----------------  Modal   ----------------*/
.modal {
    position: fixed;
    visibility: hidden;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: var(--transition);
}

.modal:target {
    visibility: visible;
    opacity: 1;
}

.modal__content {
    position: relative;
    padding: 15px;
    max-width: 400px;
    width: 100%;
    max-height: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--modal-background-color);
}

.modal__overlay {
    background-color: var(--overlay-background-color);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    opacity: 0.4;
}

.modal__header {
    display: flex;
    justify-content: flex-end;
}

.modal__close {
    padding: 8px 15px;
    font-size: 20px;
    line-height: calc((23 / 20) * 100%);
    color: var(--text-white);
    background-color: var(--header-footer-color);
    border-radius: 5px;
}

.modal__body {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__text {
    font-size: 53px;
    line-height: calc((62 / 53) * 100%);
}

/*----------------  Header   ----------------*/
.header {
    padding: 30px 30.5px;
    background-color: var(--header-footer-color);
}

.header_button {
    padding: 8px 15px;
    font-size: 15px;
    line-height: calc((23 / 15) * 100%);
    color: var(--text-white);
    background-color: var(--header-btn-color);
    transition: var(--transition);
}

/*----------------  Section1   ----------------*/
.section1 {
    display: grid;
    grid-template-columns: minmax(min-content, 390px) minmax(min-content, 590px) minmax(
      min-content,
      160px
    );

    grid-auto-rows: 198px;
    gap: 15px;
    background-color: var(--section1-bg);
}

.section1__block {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 53px;
    line-height: calc((62 / 53) * 100%);
    color: var(--text-white);
    background-color: var(--section1-block-bg);
}

/*----------------  Section2   ----------------*/
.section1__block:nth-child(4) {
    grid-column: 1 / 3;
}

/*    Section2    */
.section2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 30px;
    background-color: var(--section2-bg);
}

.section2__block {
    aspect-ratio: 1.28 / 1;
    background-color: var(--section2-block-bg);
}

/*----------------  Footer   ----------------*/
.footer {
    margin-top: 100px;
    min-height: 100px;
    background-color: var(--header-footer-color);
}

@media (hover: hover) and (pointer: fine) {
    .header_button:hover {
        filter: var(--hover-filter);
    }

    .modal__close:hover {
        filter: var(--hover-filter);
    }
}
